#loading {
    position: absolute;
    left: 40%;
    top: 45%;
    text-transform: uppercase;

}

#content {
    background-image: url("/img/background.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#toponav {
    background-color: white;
    padding: 25px;

}


.about {
    color: black;
    text-transform: uppercase;
    position: absolute;
    left: 840px;
    text-decoration: none;
    font-size: 20px;
    top: -11px;
}

.portname {
    color: black;
    text-transform: uppercase;
    position: absolute;
    left: 150px;
    text-decoration: none;
    font-size: 20px;

}

.contact {
    color: black;
    text-transform: uppercase;
    position: absolute;
    left: 1060px;
    text-decoration: none;
    margin-top: -20px;
    font-size: 20px;
}

.project {
    color: black;
    text-transform: uppercase;
    position: absolute;
    left: 960px;
    text-decoration: none;
    margin-top: -20px;
    font-size: 20px;
}

.contatosfooter {
    color: black;
    text-decoration: none;
    position: absolute;
    left: 45%;
    top: 90%;
    text-transform: uppercase;
    font-size: 40px;
    background-color: #cccccc;
    height: 2px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutme {
    color: black;
    text-decoration: none;
    position: absolute;
    left: 40%;
    top: 110%;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.progress {
    height: 15px;
    background-color: #777;
    position: relative;
    margin-top: 5px;
    border-radius: 1px;
}

.progress .progress-bar {
    position: absolute;
    height: 100%;
    background-color: lightblue;
    animation: progress-animation 6s;
}


::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(242, 242, 242);
    border-image: initial;
    margin: 0px 35px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: rgb(170, 170, 170);
}

@keyframes progress-animation {
    0% {
        width: 0%;
    }

    100% {
        width: 100%
    }

}